body {
  background-color: snow;
  margin: 0px;
}

div.bodybox {
	padding: 3% 10% 0% 10%;
}

div.titlebox {
	padding: 2% 0% 2% 0%;
	text-align: center;
	background-colour: lightgreen;
	background-image: url("images/head.jpg");
	background-size: contain;
	background-repeat:repeat-x;
	background-position: center;
	text-shadow: -3px 0 5px white, 0 3px 5px white, 3px 0 5px white, 0 -3px 5px white, -3px 3px 5px white, 3px 3px 5px white, -3px -3px 5px white, 3px -3px 5px white;
}

div.links {
	width: 200px;
	float: left;
	margin: 0px 5% 0px 0px;
}

div.clickable {
	border-style: solid;
	border-width: medium;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
	margin: 10px 10px 10px 10px;
	text-align: center;
}

a.bald:visited {
	color: black;
	text-decoration: none;
}

a.bald:link {
	color: black;
	text-decoration: none;
}

div.clickable:hover {
	background-color: black;
	color: white;
}

a.secrethref:link {
	color: black;
	text-decoration: none;
}

a.secrethref:visited {
	color: black;
	text-decoration: none;
}

a.secrethref:hover {
	color: black;
	text-decoration: underline;
}

div.urhere {
	background-color: lightgray;
}

div.myinfo{
	float: right;
	margin: 0px 0px 0px 5%;
	width: 200px;
}

div.maincontent{
	width: 100%;
	float: center;
}

#headshot {
	width: 200px;
	height: 200px;
	border-style: solid;
}

#listolinks {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px 0px 0px;
	width: 180px;
	line-height: 200%
}